* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bs-dark);
}

td {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .avviso {
        width: 60%;
    }
}